body{
    /* background-color:white; */
}

.Header {
    background-color: rgb(98, 98, 231);
    padding: 10px;
    height: 50px;
}
.headerLink {
  
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    }

    .NavLink {
    
        float: left;
        text-align: right;

    }
    .HomeSection {
        background-color:rgb(247, 222, 222);
        padding-left: 20px;
        padding-right: 20px;
    
    
     }
    

  .logoSize {

    width: 80px;
    height: 80px;
    float: left;
}

.SliderSection img {
    height: 250px!important;
    width: 100% !important;
}

.footerSection {

    background-color:rgb(41, 40, 40);
    padding: 10px;
    height: 20px; 
    text-align: center;
    /* color:yellowgreen; */
     position: fixed; 
     bottom: 0;
    width: 100%;
}

.onlineOrder {
    background-color: black;
}


